	#gif > button{
		background-color: gray;
		border: none;
		border-radius: 5px;
		padding: 5px 10px;
		color: white;
		margin: 3px;
		float:right;
	}
body{background: url(fab.png);background-color:#171717;}
	.mahbody{
	  -webkit-transition:background-color 0.5s ease-in-out;
		 -moz-transition:background-color 0.5s ease-in-out;
		   -o-transition:background-color 0.5s ease-in-out;
		  -ms-transition:background-color 0.5s ease-in-out;
						 background-color:#191919;
		text-align: center;
		color:gray;
		font-family: calibri;
		font-weight: 100;

		min-height: 89vh;
	}

	#heard{
		color:white;
		font-weight:bold;
		font-size:50%;
	}

	#buttonyy{
		box-shadow: 0px 5px 0px rgba(75, 75, 75, 1);
		background-color: red;
		border: none;
		color: white;
		padding: 5px 20px 5px 20px;
		font-size: 27px;
		margin-top: 20px;
		margin-left: -6px;

	}


	#buttonyy:active{
		box-shadow: 0px 0px 0px rgba(75, 75, 75, 1);
		margin-top: 25px;
	}

	.clockdiv{
		text-align: center;
		color: black;
		font-family: sans-serif;
		font-weight: 100;
	}

	h1{
		color: #4373d4;
		font-weight: 100;
		font-size: 40px;
		margin: 40px 0px 20px;
	}

	#clockdiv{
		font-family: sans-serif;
		color: #fff;
		display: inline-block;
		font-weight: 100;
		text-align: center;
		font-size: 30px;
	}

	#clockdiv > div{
		padding: 10px;
		border-radius: 3px;
		background: #232323;
		display: inline-block;
	}

	#clockdiv div > span{
		padding: 15px;
		border-radius: 3px;
		background: #1f1f1f;
		display: inline-block;
	}

	.smalltext{
		padding-top: 5px;
		font-size: 16px;
	}

	a{color:unset;text-decoration: none;}

	a:hover{color:white;}

	.output{margin:0 30px;}

	.coloor{background-color: #252525;}

	#f4f434f34{
		margin-left: auto;
		margin-right: auto;
		margin-top: -10vh;
	}
	.miccy{fill:#d52828;}
	#ioienwf3{
		position: fixed;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 600;
		min-height: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		text-align: center;
	}
	#footer{
		bottom:0px;
		position: absolute;
		margin-left:auto;
		margin-right: auto;
		bottom: 10px;
		width:100vw;
		font-size:90%;
		z-index:999999;
		pointer-events:all;}






.in_r::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d5d5d5;
}
.in_r:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d5d5d5;
   opacity:  1;
}
.in_r::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d5d5d5;
   opacity:  1;
}
.in_r:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d5d5d5;
}
.in_r::-ms-input-placeholder { /* Microsoft Edge */
   color:    #d5d5d5;
}


	.in_l,.in_r{
		background-color: white;
		color: black;
		padding: 5px 10px;
		border: solid gray 2px;
		text-align:center;
		margin-bottom:5px;

    }
    .in_l{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-right:0px;
	}
	.in_r{
		background-color: gray;
		color: white;
		margin-left:-4px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;}
	.btn_o,.btn_p{
	width: -webkit-fill-available;
		background-color: #5cb85c;
		color: white;
		padding: 5px 10px;
		border: solid #4cae4c 2px;
		display:block;
		border-radius: 5px;
		margin:0px 10px;
		cursor:pointer;
	}
	.btn_p{

		background-color:#337ab7;
		margin-top:5px;
		border: solid #2e6da4 2px;
	}
	.btn_o:hover,.btn_p:hover{
		color: #fff;
		background-color: #449d44;
		border-color: #398439;
	}
	.btn_o:active,.btn_p:active{
		color: #fff;
		background-color: #449d44;
		border-color: #398439;
	}
	.commands{
		opacity:0;
		pointer-events:
		none;width: 400px;
		margin-left: auto;
		margin-right: auto;
		z-index: 999999;
		position: relative;

		background-color: #202020;
		padding: 20px 9px;
		border-radius: 9px;
		top: 10vh;
	}
	.showmecommands{opacity:1;pointer-events:auto;}